

.logo {
  width: 160px; /* logo más grande */
  height: auto;
}

/* Menú inferior */
.navbar-custom {
  background-color: #7FD45D;
}

.navbar-custom .nav-link {
  color: white;
  font-weight: 500;
}

.navbar-custom .nav-link.active {
  color: #212529; /* color cuando está activo */
}

.navbar-custom .nav-link:hover {
  color: #212529;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}
